.container {
    display: block;
/*    background: blue;*/
}

.item {
    display: inline-block;
    width: 280px;
    width: 22.3vw;
    float: left;
    margin: 8px;
    /*background: blue;*/
}

@supports (display: grid) {
    .container {
        /*background: pink;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .item {
        width: auto;
        margin: 0;
         /*background: pink;*/
    }
}

@media (max-width: 784px) {
    .container {
        display: block;
    }

    @supports (display: flex){
         .container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow: scroll;
            max-width: 660px;
            max-width: 90vw;
            overflow-y: hidden;
    }
    
    .item {
        flex: 0 0 auto;
        margin-right: 32px;
        margin-bottom: 16px;
    }
}

@media (min-width: 200px) {
    .item{
        width: 240px;
    }
}

@media (min-width: 500px) {
    .item{
        width: 310px;
    }
}

@media (min-width: 480px) and (max-width: 784px) {}

@media (min-width: 784px) {
    .item{
        width: 280px;
    }
}
